{% extends 'base.html' %}
{% block title %}Driver Signup {% endblock %}

{% block content %}
    
<div class="background4">

{% include 'dispmsg.html' %}

    <div class="container-fluid">
        <div class="loginBox">
        <div class="row">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    <h4 class="display-2" id="headings">SIGN UP</h4>
                </div>
                <div class="panel-body">
                    <p class="text-center" id="headings"><i> Signup to become a driver at Drivsta</i></p>
                <form method="POST">
                    <div class="form-row">
                        <div class="col-md-3 mb-3" >
                            <label for="First Name" id="headings">First name</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            name = "firstName"
                            placeholder="First name" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Last Name" id="headings">Last name</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            name = "lastName"
                            placeholder="Last Name" required>
                        </div>
                        <div class="col-md-3 mb-3">
                        <label for="email" id="headings">Email Address</label>
                        <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Enter email" 
                            required
                        />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Contact" id="headings">Contact</label>
                            <input 
                            type="tel" 
                            class="form-control" 
                            name = "contact"
                            pattern="[0-9]{10}"
                            placeholder="10 digit mobile number" required>
                        </div>
                    </div>
                    <div class="form-row">
                    <div class="col-md-3 mb-3">
                    <label for="password" id="headings">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                    />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="password" id="headings">Confirm Password</label>
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="confirmPassword"
                            placeholder="Enter password again"
                        />
                        </div>
                        <div class="col-md-3 mb-3" >
                            <label for="Address" id="headings">Address</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            name = "address"
                            placeholder="Address" required>
                        </div>
                        <div class="col-md-3 mb-3" >
                            <label for="Licence Number" id="headings">Licence Number</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            name = "licence"
                            placeholder="Licence Number" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-0">
                        <p class="text-center" id="headings"><i> Identity</i></p>
                        <img id="bg" src="{{ url_for('auth.videoFeed')}}">
                        <p class="text-center" id="headings"><i> Please ensure that your face is captured with bright light on your face.</i></p>
                        
                    </div>
                
                    <button type="submit" style="width: 100%;" class="btn btn-primary">Sign up</button>
                    <div class="panel-footer" id="headings"><p>Already have an account? <a href="/login">Login</a></p></div>
                </form>
            
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
                
    </div>
    </div>


{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}